[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
six = "*"
h5py = "*"
tqdm = "*"
scipy = "==1.3.2"
numpy = "==1.18.3"
click = "==7.0"
psutil = "*"
cython = "*"
pandas = "*"
awscli = "*"
future = "*"
joblib = "*"
sklearn = "*"
seaborn = "*"
cytoolz = "*"
networkx = "==2.4"
setuptools = "*"
matplotlib = "<=3.2.2"
hdf5storage = "*"
ruamel_yaml = "*"
scikit-image = "*"
scikit-learn = "==0.20.3"
dtaidistance = "==1.2.3"
opencv-python = "*"
moseq2-viz = {editable = true, path = "."}