[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
six = "*"
h5py = "*"
tqdm = "*"
scipy = "*"
numpy = "*"
click = "*"
psutil = "*"
cython = "*"
pandas = "*"
awscli = "*"
future = "*"
joblib = "*"
sklearn = "*"
seaborn = "*"
cytoolz = "*"
networkx = "*"
setuptools = "*"
ipywidgets = "*"
matplotlib = "<=3.2.2"
statsmodels = "*"
hdf5storage = "*"
ruamel_yaml = "*"
scikit-image = "*"
scikit-learn = "*"
dtaidistance = "==1.2.3"
opencv-python = "*"
